html, body{
    height: 100%;
    margin: 0;
}

body{
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #226494);
}

.body_background{
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #226494);
}
